.image-container{
  display:flex;

}

.picture-box{
  height:150px;
  width:150px;
  position: relative;

} 
.display-img{
  /* opacity: 0.5; */
}
.display-closeBtn{
  position: absolute;
  top:3px;
  right: 7px;
  cursor: pointer;
}
